<footer>
	<div class="footer__container container">
		<div class="footer__grid">
			<div class="footer__topside">
				<div class="">
					<ul>
						<li>
							<h2><strong>Menu</strong></h2>
						</li>
						<li>
							<a href="/">Back to top</a>
						</li>
						<li>
							<a href="/about">Search a place</a>
						</li>
						<li>
							<a href="/contact">Q&A</a>
						</li>
					</ul>
				</div>
				<div class="">
					<ul>
						<li>
							<h2><strong>Other</strong></h2>
						</li>
						<li>
							<a href="/about#members">Members</a>
						</li>
						<li>
							<a href="about">Terms and conditions</a>
						</li>
						<li>
							<a href="/about#deck">Information</a>
						</li>
						<li>
							<a href="/contact">Licence</a>
						</li>
					</ul>
				</div>
				<div class="">
					<ul>
						<li>
							<h2><strong>Contact Us</strong></h2>
						</li>
						<li>example@gmail.com</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
