<app-header></app-header>
<div class="div-container">
  <img
    id="home_img"
    src="../../../../assets/Frame 6.png"
    alt=""
  >
</div>

<div class="div-cards">
  <div class="cards-container row around-xs">
    <div class="col-12 col-md-4">
        <div class="box">
            <!--card 3-->
          <mat-card class="card-1">
            <div>
              <mat-card-title>Place 1</mat-card-title>
              <img mat-card-md-image
              id="img-card"
              src="../../../../assets/image 3.png"
              alt=""
              >
              <mat-card-content>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Maiores dignissimos laborum inventore,
                vero optio harum, nisi quaerat.</mat-card-content>
            </div>
          </mat-card>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="box">
                  <!--card 2-->
          <mat-card class="card-1">
            <div>
              <mat-card-title>Place 2</mat-card-title>
            <img mat-card-md-image
            id="img-card"
            src="../../../../assets/image 4.png"
            alt=""
            >
            <mat-card-content>Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Maiores dignissimos laborum inventore,
              vero optio harum, nisi quaerat.</mat-card-content>
            </div>
          </mat-card>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="box">
                      <!--card 3-->
          <mat-card class="card-1">
           <div>
            <mat-card-title>Place 3</mat-card-title>
            <img mat-card-md-image
            id="img-card"
            src="../../../../assets/image 5.png"
            alt=""
            >
            <mat-card-content>Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Maiores dignissimos laborum inventore,
              vero optio harum, nisi quaerat.</mat-card-content>
           </div>
          </mat-card>
        </div>
    </div>
  </div>

  <div class="cards-container row around-xs">
    <div class="col-12 col-md-4">
        <div class="box">
            <!--card 3-->
          <mat-card class="card-1">
            <div>
              <mat-card-title>Place 1</mat-card-title>
              <img mat-card-md-image
              id="img-card"
              src="../../../../assets/image 3.png"
              alt=""
              >
              <mat-card-content>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Maiores dignissimos laborum inventore,
                vero optio harum, nisi quaerat.</mat-card-content>
            </div>
          </mat-card>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="box">
                  <!--card 2-->
          <mat-card class="card-1">
            <div>
              <mat-card-title>Place 2</mat-card-title>
            <img mat-card-md-image
            id="img-card"
            src="../../../../assets/image 4.png"
            alt=""
            >
            <mat-card-content>Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Maiores dignissimos laborum inventore,
              vero optio harum, nisi quaerat.</mat-card-content>
            </div>
          </mat-card>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="box">
                      <!--card 3-->
          <mat-card class="card-1">
           <div>
            <mat-card-title>Place 3</mat-card-title>
            <img mat-card-md-image
            id="img-card"
            src="../../../../assets/image 5.png"
            alt=""
            >
            <mat-card-content>Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Maiores dignissimos laborum inventore,
              vero optio harum, nisi quaerat.</mat-card-content>
           </div>
          </mat-card>
        </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
