@import 'theme.scss';

html,
body {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	padding: 0;
	margin: 0;
	color: inherit;
	transition: ease-in-out 0.2s;

	&:visited {
		color: inherit;
	}

	&:hover {
		color: #159cab;
	}
}

h1,
h2,
h3,
h4 {
	padding: 0;
	margin: 0;
}

#info__banner {
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #262626;
	color: white;
	padding: 5px 5em;

	h1 {
		margin: 0;
		padding: 0;
	}

	.banner__contact__btn {
		font-size: 1.3em;
	}

	@media (max-width: 900px) {
		justify-content: center;

		h1 {
			display: none;
		}
	}
}

#primary__button {
	background-color: #0A373C;
	text-align: center;
	border: none;
	border-radius: 30px;
	color: white;
	transition: ease-out 0.3s;

	&:hover {
		background-color: #159cab;
		cursor: pointer;
	}
	&:disabled {
		background-color: #159cab;
		cursor: default;
	}
}

#primary__button__Hoverstroked {
	background-color: #159cab;
	text-align: center;
	border: 3px solid transparent;
	border-radius: 8px;
	color: white;
	transition: ease-out 0.2s;

	&:hover {
		background-color: transparent;
		border: 3px solid #159cab;
		color: #159cab;
		cursor: pointer;
	}
	&:disabled {
		background-color: #159cab;
		cursor: default;
	}
}

#primary__button__dark {
	background-color: #262626;
	text-align: center;
	border: none;
	color: white;
	transition: ease-out 0.3s;

	&:hover {
		background-color: #3b3b3b;
		cursor: pointer;
	}
	&:disabled {
		background-color: rgb(171, 171, 171);
		cursor: default;
	}
}

.active__status {
	color: #159cab;
}

.warning__status {
	color: #c8c851;
}

.danger__status {
	color: #fc6565;
}

.marker {
	background-image: url('./assets/vectors/aerial-truck.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 70px;
	height: 70px;
	cursor: pointer;
}

.emailSent {
	background: #262626 !important;
	color: #fff !important;
	padding: 20px;
	font-size: 30px;
	font-weight: 500;
}
.emailSent button {
	background-color: #0A373C;
	color: white;
}
